.login {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__card {
    max-width: 50%;
    min-width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid $grey;

    &--header {
      text-align: center;
      h2 { margin: 0; }
    }

    &--fields {
      margin: 20px 0 30px 0;
    }

    &--button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
      button { width: 100%; }
    }
  }
}
