.models {
  &__list {
    &--header {
      padding: 2px;
      text-align: center;
      font-weight: bold;
    }

    &--table {
      .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .btn, span { margin: 0 10px; }
      }
    }
  }
}
