.states {
  &__display {
    &--header {
      height: 25px;
    }

    &--content {
      .headline {
        text-align: center;
        margin: 0 50px 10px 50px;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 1px solid $grey;
      }

      .current-state,
      .next-state {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        p { margin: 0; }
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $grey;
        margin: 0 50px;
        padding-top: 20px;
      }
    }
  }
}
