<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-md-3 template">
      <div class="list-group template__menu">
        <a class="list-group-item active template__menu--main">Main Models</a>
        <a ui-sref="layout.models.form" class="list-group-item template__menu--items">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          New
        </a>
        <a ui-sref="layout.models.list" class="list-group-item template__menu--items">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          List
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <div ui-view></div>
    </div>
  </div>
</div>
